.container {
    display: flex;
    flex-direction: row;
    background-color: bisque;
    height: 50px;
    padding-top: 10px;
}

.navigation {
    display: flex;
    flex-direction: row;
    margin-left: 90px;
    margin-top: 10px;
}

.navigation .search {
    margin-right: 450px;
}

input {
    border: none;
    border-radius: 10px;
    height: 30px;
}

label {
    margin-left: 20px
}

.name {
    margin-top: 5px;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

img {
    height: 600px;
    width: 600px;
    border: 2px solid black;
    margin-top: 10px;
}

.card {
    width: 400px;
    height: 400px;
    background: #beb8b8;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.card img {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    border-radius: 50%;
}


